
* {
    text-align: center;
    font-family: Papyrus;
}
td {
    background-color: White;
    border: 2px black;
    box-shadow: 2px 2px black;
}
.dbutton {
    background-color: rgb(213, 196, 135);
    border: none;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width:300px;
    margin:0;
}

.dbutton:hover {
    background-color: red;
    color: white;
}
.dbutton:active {
    background-color: #410000;
    color:grey;
    transform: translateY(1px);
}
div {
    justify-content: center;
    width:300px;
}